<div id="<%= dom_id match %>">
  <p>
    <strong>Code:</strong>
    <%= match.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= match.name %>
  </p>

  <p>
    <strong>Result:</strong>
    Winner : <%= match.winner_name %>
    Loser  : <%= match.loser_name %>
  </p>

</div>
